body {
       font-family: Arial, sans-serif;
       margin: 0;
       padding: 0;
       background-color: #474343;
}
/*----------------------------------------------------------------------------*/    
    /*HEADER*/
    
header {
        background-color:#474343;
         color: white;
         display: flex;
         justify-content: space-between;
         align-items: center;
}
        
header a {
          margin:20px;
          color: white;
          text-decoration: none;
}
        
header ul {
           list-style: none;
           padding: 0;
           margin: 0;
           display: flex;
}
        
header ul li {
    margin: 100px;
}

.salon {
    height:250px;
    width: 250px;
}

.logo{
    height:250px;
    width: 250px;
}

/*----------------------------------------------------------------------------*/    
    /*MAIN*/
    
main {
    display: flex;
    flex-direction: row;
    max-width: 100%;
      background-color: #474343;
                }
/*---------------------------------------------------------*/
    /*Champ de gauche categories + channel */

.left {
        flex: 0.33;
        text-align:left;
        color:white;
}

.left ul {
          padding: 20px;
          list-style: none;
}
.left ul ul {
    list-style: none;
    padding:20px;
}        
 
.left li {
    margin-top:20px;
 }
 
.left > ul > li.categ {
    font-weight: bold;
    text-transform: uppercase;
}
/*------------------------------------------------------*/
    /*Champ text + message + boutton*/
 
.right {
    flex: 2.5;
    display:flex;
    background-color:#736A6A;
}
    
.msg {
    display: flex;
    padding-top: 50px;
}    
.group-inp textarea {
    display:flex;
    width: 500px;
    height: 300px;
    background-color:white;
    color:grey;
    border-radius:10px;
    padding-top: 80px;
    ; 
}
        
input {
    width:300px;
}
        
button {
    background-color: #F1E6E6;
    color:black;
    border: none;
}
        

/*----------------------------------------------------------------------------*/
    /*FOOTER*/
footer {
    background-color:grey;
    height:200px;
} 

footer>p {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}